* {
  padding: 0;
  margin: 0;
}

header,
main,
#skillKamu,
footer {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}
header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
}
h2 {
  color: #3498db;
}
.title {
  width: 50%;
  height: 100px;
  text-align: center;
  border: 1px solid red;
  color: #ffff;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#about > h2 {
  margin-bottom: 30px;
}
#about > p {
  margin-bottom: 20px;
}
#skills > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#skills > ul {
  padding: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}
li {
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#form > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
input,
select,
button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  color: #ffff;
  background-color: #27ae60;
}
footer {
  text-align: center;
  background-color: #3498db;
}
